/* CLOSED CAPTIONS */


@font-face {
  font-family: 'Netflix Sans';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/NetflixSans-Bold.otf');
  font-weight: bold;
}

span.captions-text {
  margin-bottom: 5em;
}

span.captions-text span.caption-visual-line span.ytp-caption-segment {
  color: white !important;
  /* font-size: 48px !important; */
  font-weight: bold !important;
  background: transparent !important;
  /* text-shadow: 2px 2px 0 #000000 !important; */
  text-shadow:#000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px,
              #000 0px 0px 1px !important;
  font-family: 'Netflix Sans' !important;
  line-height: normal !important;
  -webkit-font-smoothing: antialiased !important;
}

.iv-branding .branding-img-container img {
  display: none !important;
}